* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: lightgrey;
  padding: 0 200px;
  font-family: helvetica;
}

header {
  width: 100%;
  height: 60px;
  background: grey;
  display: flex;
  flew-direction: row;
  color: white;
}

.link {
  height: 100%;
  width: 100px;
  line-height: 60px;
  text-aligh: center;
  cursor: pointer;
}

.link:hover {
  color: red;
}

.article {
  display:flex;
  flex-direction: column;
  width:50%;
  flex-wrap: wrap;
}

.main {
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}

.footer {

}
